/* <!-- Create A Basic Login Page Issue #27 --> */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.card h1 {
  margin-bottom: 2rem;
}

.inputBox {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputBox label {
  margin-bottom: 0.5rem;
}

.inputBox input {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.inputBox button {
  font-size: 0.8rem;
  padding: 0.3rem;
  margin-top: 1rem;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #f3f4f6;
}

.inputBox button:hover {
  background-color: #989898;
}
