main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

memory-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  padding: 1em 2em;

  border-bottom: 1px solid #ddd;
}

memory-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  flex-wrap: wrap;
}

search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.5em 1em;
  border-radius: 2em;
}

search-bar input {
  padding: 0.25em;
  font-size: 1em;

  border: none;
  outline: none;
  background-color: transparent;
}

mood-filter select {
  padding: 0.5em 1em;
  border-radius: 2em;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 1em;
  cursor: pointer;
}

memories-grid-container {
  min-height: 0;
  overflow-y: auto;
  padding: 1em;
}

memories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5em;
}

memory-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  border: 1px solid #ddd;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.05);
}

memory-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;

  background-color: #ddd;
}

memory-photo button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

memory-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;

  text-align: center;
}

card-content {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
}

card-meta {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

card-mood {
  margin-right: 0.5em;
  padding: 0.25em 0.5em;

  border-radius: 1em;
  background-color: black;

  font-weight: bold;
  color: white;
}

card-date {
  margin-right: auto;
}

card-actions {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}

card-actions button {
  background: none;
  border: none;
  cursor: pointer;

  padding: 0.25em;
  font-size: 1em;
  border-radius: 0.5em;
}

card-actions button:hover {
  background: #ddd;
}

h2 {
  margin: 0;
  font-weight: normal;
}

memory-card p {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;

  font-size: 0.9em;
  color: #555;
}

card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 1em;

  font-size: 0.85em;
  color: #555;
  border-top: 1px solid #ddd;
}

memories-grid-container::-webkit-scrollbar {
  width: 0.5em;
}

memories-grid-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2em;
}

memories-grid-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2em;
}

memories-grid-container::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
