:root {
  --font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

memory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 2em;
}

memory-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  flex-wrap: wrap;
}

search {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.5em 2.5em;
  border-radius: 1em;
}

search input {
  padding: 0.25em;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: transparent;
}

mood-filter select {
  padding: 0.5em 1em;
  border-radius: 1em;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}

memories-grid-container {
  min-height: 0;
  overflow-y: auto;
  padding: 1rem;
}

memories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5em;
}

.list-title {
  font-size: 2em;
  font-weight: bold;
  color: #333333;
  font-family: var(--font-family);
  margin: 0.5em 0em 0em 0em;
}

memory-card {
  height: 420px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 0.5em #0000000d;
  position: relative;
}

memory-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  background-color: #dddddd;
}

memory-photo button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

memory-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}

card-content {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
  flex: 1; 
  min-height: 0;
}

card-meta {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

card-mood {
  margin-right: 0.5em;
  padding: 0.25em 0.5em;
  border-radius: 1em;
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
}

time {
  margin-right: auto;
}

card-actions {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}

card-actions button {
  background: none;
  border: none;
  cursor: pointer;

  padding: 0.25em;
  font-size: 1em;
  border-radius: 0.5em;
}

card-actions button:hover {
  background: #dddddd;
}

h2 {
  margin: 0;
  font-weight: normal;
}

memory-card p {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;

  font-size: 0.9em;
  color: #555555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; 
  line-height: 1.5em; 
  word-break: break-word; 
}

card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 1em;

  font-size: 0.85em;
  color: #555555;
  border-top: 1px solid #dddddd;
  margin-top: auto;
}

memories-grid-container::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

memories-grid-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2em;
}

memories-grid-container::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 2em;
}

memories-grid-container::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
