:root {
  --primary-font: "Nerko One", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

main {
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  background-color: #7aacdaaf;
}

.error-code {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error-code span {
  font-family: var(--primary-font);
  font-size: 16rem;
}

.error-code img {
  width: 16rem;
}

.error-message h2 {
  font-family: var(--primary-font);
  font-size: 4rem;
  text-align: center;
  margin-top: 1rem;
}
.error-message p {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;
}

.error-message + button {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  padding: 0.75em 2em;
  border: 2px solid #2b4064;
  background: #2b4064;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: inline-block;
  margin: 2rem auto 0;
  text-align: center;
  color: #ffffff;
}

.error-message + button:hover {
  background-color: #d6dbe6;
  color: #000000;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .error-code {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .error-code span {
    font-size: 6rem;
  }

  .error-code img {
    width: 6rem;
  }

  .error-message h2 {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .error-message p {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .error-message + button {
    font-size: 1rem;
    padding: 0.6em 1.5em;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.error-code span:first-child {
  animation: float 2s ease-in-out infinite;
  animation-delay: 0s;
}

.error-code img {
  animation: float 2s ease-in-out infinite;
  animation-delay: 0.3s;
}

.error-code span:last-child {
  animation: float 2s ease-in-out infinite;
  animation-delay: 0.6s;
}
